discord.py
SimpleEconomy
setuptools
pip
yarl
websocket-client
urllib3
update-checker
typing-extensions
requests
prawcore
praw
multidict
idna
hmtai
chardet
certifi
attrs
asyncprawcore
asyncpraw
async-timeout
aiohttp
aiofiles
